
  

 

 
 /* Hero Subtitle Styles */
 .hero__subtitle {
  display: flex;
  align-items: center;
 }
  /* Hero Content Styles */
  .hero_content h1 {
    font-size: 3.2rem;
    font-weight: 600;
    margin-top: 1rem;
    margin-bottom: 2rem;
    color: var(--heading-color);
   }
   .hero__content h1 .highlight {
    color: var(--secondary-color);
   }
 
 .hero__subtitle img {
 padding-left: 5px;
  width: 2.3rem;
  height: 2.3rem;
 }
 .hero__content p {
  font-size: 1.1rem;
  color: var(--text-color);
  line-height: 2rem;
 }

 /* Hero Image Box Styles */
 .hero__img-box img,.hero__img-box video {
  width: 110%;
  height: 350px;
  border-radius: 20px;
  border: 1px solid var(--secondary-color);
  object-fit: cover;
 }
 .hero__img-box{
  padding-top: 2rem;
 }
 
 /* Hero Content Styles */
 
 .hero__content{
  padding-top: 3.5rem;
 }

 /* Subtitle Styles */

 .services__subtitle{
   font-size: 2.2rem;
   font-weight: 600;
   color: #ee6e7e;
   font-family: var(--subtitle-font-name);
  
 }
 .services__title{
font-size:2.5rem;
font-weight: 500;
margin-bottom: 10px;
width: 300px;
padding-right: 3.2rem;
 }
 /* feature section */
 .featured__title{
  font-size: 2.2rem;
  font-weight: 500;
  padding-bottom: 0;
 }

.col-full-width-title{
  display: flex;
  flex-direction: column;
  padding: 0 1rem 0 1rem;
  margin: 0;
}
.col-full-width-title h2{
  padding-top: 0.2rem;
  margin: 0;
}
.counter__wrapper{
  display: flex ;
  align-items: center;
   gap: 5rem;
   margin-top: 2.5rem;
}
.experience__content h2{
  font-size: 2.5rem;
  margin-top: 1rem;
  font-weight: 500;
}
.experience__content p{
  font-size: 1.1rem;
  color:var(--heading-color);
  margin-top: 1rem;
}

.counter_box span{
  width: 70px;
  height: 70px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color:var(--primary-color);
  color: #FFF;
  font-size: 1.6rem;
  font-weight: 600;
  border-radius:10px 5px 10px 5px
}
.counter_box h6{
  font-size: 1.1rem;
  margin-top: 0.7rem;
  color :var(--heading-color)
}
.experience__img{
  padding-top: 3rem;
  margin: 1.5rem;
  width: 480px;
  
}
.experience__img img{
  border-radius:50%;
  width:90%; 
}
/* sectiton gallery */
.gallery__title{
  font-size: 2.3rem;
  margin-bottom: 2.5rem;
  margin-top: 1rem;
}
.masonry_img {
  display: block !important;
  transition: 0.3s;
 }
 .masonry_img:hover{
  transform: scale(1.1);
 }
 /* testimonial section */


.testimonial__title{
  font-size: 2.3rem;
  margin-top: 1rem;
}

 
@media only screen and(max-width:992px){
  .hero__content h1{
    font-size: 2.7rem;
  }
  .hero__img-box{
    display: none;
  }
  .hero__video-box{
    display: block;
  }
  .services__title,
  .featured__title,
  .gallery__title,
   .testimonial__title,
   .experience__content h2  {
    font-size: 2rem;
  }
  .experience__img{
    margin-top: 2rem;
  }
  
}
@media only screen and(max-width:576px){
  .hero__content h1{
    font-size: 1.8rem;
  }
  .services__title,
  .featured__title,
  .gallery__title,
  .testimonial__title,
  .experience__content h2 {
    font-size: 1.5rem;
  }
}